{% extends 'base.html.twig' %}

{% block title %}Edition Question{% endblock %}

{% block body %}
<div class="w-50 mx-auto">
    <h1>Modifiez votre question</h1>

    <div class="mt-5">
        {{ form(formEditQuestion) }}
    </div>
</div>
{% endblock %}