{% extends 'base.html.twig' %}

{% block title %}Réinitialisation du mot de passe{% endblock %}

{% block body %}
    <h1 class="mb-3">Réinitialisation du mot de passe</h1>

    {{ form(resetForm) }}

{% endblock %}
