/* FONTS */
/* @font-face {
    font-family: "peachCake";
    src: url(font/Peach_Cake.otf) format("opentype");
}

* {
    font-family: "peachCake";
} */

body {
    background-color: rgb(255, 255, 255);
}

h3 {
    text-transform: uppercase;
}

.questionLink {
    text-decoration: none;
    color: black;
}

.questionLink:hover {
    color: blue;
}

.avatar {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}
